<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Category List</h1>
    <ul>
        {% for category in categories %}
            <li>
                {{ category.name }}
                <a href="{% url 'category-update' category.pk %}">Edit</a>
                <a href="{% url 'category-delete' category.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'category-add' %}" class="btn">Add New Category</a>
</body>
</html>
